# ==========================================================
# GANGA MA.VI
# GIT IGNORE
# ==========================================================

# ----------------------------------------------------------
# Node Packages
# ----------------------------------------------------------
node_modules/

# ----------------------------------------------------------
# Environment Variables
# ----------------------------------------------------------
.env
.env.local
.env.production

# ----------------------------------------------------------
# Log Files
# ----------------------------------------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ----------------------------------------------------------
# Runtime Files
# ----------------------------------------------------------
pids
*.pid
*.seed
*.pid.lock

# ----------------------------------------------------------
# Coverage Reports
# ----------------------------------------------------------
coverage/

# ----------------------------------------------------------
# Cache
# ----------------------------------------------------------
.cache/
.parcel-cache/

# ----------------------------------------------------------
# Operating System Files
# ----------------------------------------------------------
.DS_Store
Thumbs.db
desktop.ini

# ----------------------------------------------------------
# IDE Files
# ----------------------------------------------------------
.vscode/
.idea/

# ----------------------------------------------------------
# Temporary Files
# ----------------------------------------------------------
tmp/
temp/

# ----------------------------------------------------------
# Uploaded Files
# ----------------------------------------------------------
uploads/profile/*
uploads/documents/*
uploads/gallery/*

# Keep folders
!uploads/profile/.gitkeep
!uploads/documents/.gitkeep
!uploads/gallery/.gitkeep

# ----------------------------------------------------------
# Build Files
# ----------------------------------------------------------
dist/
build/

# ----------------------------------------------------------
# Testing Reports
# ----------------------------------------------------------
reports/